<!doctype html>
<html lang="ja" ng-app="movieVoice">
<head>
<title>アテレコ！</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"  rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
</head>
<body>
    <h1>アテレコ！</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mb-20">
                <div class="movie">
                    <video id="movie" class="video-js vjs-default-skin"
                           controls preload="auto" width="480px" height="320px"
                           poster="img/poster.png"
                           >
                        <source src="movie/beMan.webm" />
                        <p class="vjs-no-js">please enable JavaScript</p>
                    </video>
                </div>
            </div>
            <div class="col-sm-4 explain">
0:03～<br>
部長：今年の新入部員は<br>
　　　男のくせに軟弱だ<br>
<br>
0:09～<br>
部長：私が部長の冴島だ<br>
　　　ビジバシ鍛えて<br>
　　　やるから覚悟しろ<br>
新入：は…はい…<br>
<br>
0:15～<br>
部長：「はい」でも<br>
　　　「いいえ」でも<br>
　　　ここでの返事は<br>
　　　押忍だ！！<br>
新入：お…おすっ！！<br>
<br>
0:23～<br>
部長：…かわいいな<br>
<br>
部長：相馬<br>
　　　お前みたいな奴が<br>
　　　なんで空手部に来た？<br>
新入：お、おす！！<br>
　　　男らしくなりたい<br>
　　　からです。<br>
<br>
部長：ならなよなよ<br>
　　　するな！！<br>
　　　気合を入れろ！！<br>
新入：お、おす！！<br>
<br>
新入：おすっ！！<br>
　　　おすっ！！<br>
<br>
部長：…くそっ！！<br>
<br>
部長：ええい…<br>
　　　しっかりしろ！！<br>
　　　私は部長！！<br>
　　　かわいいからって<br>
　　　情を移しては…！！<br>
<br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="recorderController" ng-controller="recorderController as app">
                    <button ng-click="app.toggleRecord()" ng-model="recordStatus" ng-disabled="app.isRecordButtonDisable()">{{app.recordMessage()}}</button>
                    <button ng-click="app.togglePlay()" ng-model="playStatus" ng-disabled="app.isPlayButtonDisable()">{{app.playMessage()}}</button>
                    <audio id="recordedVoice"></audio>
                </div>
                <div>
                    <h4>キャラ選択 (今は部長固定です)</h4>
                    <input type="radio" name="charactor" value="hoge" disabled>相馬（新入生）<br>
                    <input type="radio" name="charactor" value="fuga" checked>冴島（部長）<br>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <h4>遊び方</h4>
                    <ol>
                    <li>recordボタンを押す</li>
                    <li>動画のタイミングに合わせて喋る</li>
                    <li>終わったらstopボタンを押す</li>
                    <li>playを押す</li>
                    <li>あなたの声が乗って動画が流れる！</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

<script>var NS = {};</script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="//vjs.zencdn.net/4.12/video.js"></script>
<script src="js/Recorder.js"></script>
<script src="js/Player.js"></script>
<script>
(function() {
    var app = angular.module('movieVoice', [])
    , player = new NS.Player('movie', 'recordedVoice')
    ;
    
    app.controller('recorderController', function() {
        this.recordStatus = false;
        this.playStatus = false;
        this.disable = false;

        this.recordMessage = function() {
            return this.recordStatus ? 'stop' : 'record';
        }

        this.playMessage = function() {
            this.disable = !this.disable;
            return this.playStatus ? 'stop' : 'play';
        }

        this.isRecordButtonDisable = function() {
            return this.playStatus ? true : false;
        }

        this.isPlayButtonDisable = function() {
            return this.recordStatus ? true : false;
        }

        this.toggleRecord = function() {
            if (!this.recordStatus) {
                player.record();
            } else {
                player.recordStop();
            }

            // ステータス切り替え
            this.recordStatus = !this.recordStatus;
        }

        this.togglePlay = function() {
            if (!this.playStatus) {
                player.play();
            } else {
                player.pause();
            }

            // ステータス切り替え
            this.playStatus = !this.playStatus;
        }
    });
})();
</script>
</body>
</html>