<!doctype html>
<html lang="ja" ng-app="movieVoice">
<head>
<title>Self Camera</title>
<link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
</head>
<body>
<div>
    <video id="movie" class="video-js vjs-default-skin"
        controls preload="auto" width="640" height="264"
        poster="http://video-js.zencoder.com/oceans-clip.png"
    >
        <source src="//video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
        <p class="vjs-no-js">please enable JavaScript</p>
    </video>
</div>

<div ng-controller="recorderController as app">
    <button ng-click="app.toggleRecord()" ng-model="recordStatus" ng-disabled="app.isRecordButtonDisable()">{{app.recordMessage()}}</button>
    <button ng-click="app.togglePlay()" ng-model="playStatus" ng-disabled="app.isPlayButtonDisable()">{{app.playMessage()}}</button>
    <audio id="recordedVoice"></audio>
</div>

<script>var NS = {};</script>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="//vjs.zencdn.net/4.12/video.js"></script>
<script src="js/Recorder.js"></script>
<script src="js/Player.js"></script>
<script>
(function() {
    var app = angular.module('movieVoice', [])
    , player = new NS.Player('movie', 'recordedVoice')
    ;
    
    app.controller('recorderController', function() {
        this.recordStatus = false;
        this.playStatus = false;
        this.disable = false;

        this.recordMessage = function() {
            return this.recordStatus ? 'stop' : 'record';
        }

        this.playMessage = function() {
            this.disable = !this.disable;
            return this.playStatus ? 'stop' : 'play';
        }

        this.isRecordButtonDisable = function() {
            return this.playStatus ? true : false;
        }

        this.isPlayButtonDisable = function() {
            return this.recordStatus ? true : false;
        }

        this.toggleRecord = function() {
            if (!this.recordStatus) {
                player.record();
            } else {
                player.recordStop();
            }

            // ステータス切り替え
            this.recordStatus = !this.recordStatus;
        }

        this.togglePlay = function() {
            if (!this.playStatus) {
                player.play();
            } else {
                player.pause();
            }

            // ステータス切り替え
            this.playStatus = !this.playStatus;
        }
    });
})();
</script>
</body>
</html>